@import "~bootstrap/scss/bootstrap";


$primary: rgb(134, 28, 28);

.header {
    padding: 20px 0;
    background-color: #ccc;

    &__content {
        padding: 50px 0;
    h1 {
        text-transform: uppercase;
        font-size: 50px;
    }
 }
    &__description {
        padding: 20px 0;
 }

    &__image {
        @include media-breakpoint-down(lg) {
            padding-top: 50px;
        }
 }


 img {
     width: 100%;
 }
}

.btn_col {
    background-color: $primary;
    border-color: $primary;
}

.nav-link {
    text-transform: uppercase;
    line-height: 60px;
}

.nav-link.active {
    background-color: $primary;

    @include media-breakpoint-down(lg) {
        line-height: 30px;
    }
}

.section1 {
    padding: 80px 0;

    &__description{
        padding: 20px 0;
    }

    h2 {
        text-transform: uppercase;
        font-size: 40px;
        padding-right: 50px;
    }

    &__description {
        padding-right: 60px;
    }
}

.fa {
    font-size: 30px;
    color: $primary;
    padding: 10px;
}

.text {
    color: rgb(151, 148, 148);
}

.title {
    color: rgb(117, 114, 114);
    font-size: 25px;
    font-weight: bold;
}

.container-md__bord {
    border-bottom: 2px solid rgb(151, 148, 148);
}

.section2 {
    padding: 80px 0;
    text-align: center;

    h2 {
        text-transform: uppercase;
        font-size: 40px;
        padding-right: 50px;
    }

    .text {
        margin: 0 200px;
        padding: 30px 0;
    }
}

.bord1 {
    width: 150px;
    border-bottom: 2px solid $primary;
    display: inline-block;
}


.list-inline-item {
    padding: 15px;
    color: rgb(117, 114, 114);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.col_gutters {
    width: 300px;
    height: 300px;
    background-position: center;
    
    img {
        width: 100%;
    }
}

.section3 {

    h2 {
        text-transform: uppercase;
        font-size: 40px;
        padding: 50px 0;
    }
}

.col-5  {
    width: 400px;
    height: 600px;
    padding: 50px 0;

    img {
        width: 100%;
    }
}

.col-style {

    h2 {
        font-size: 30px;
        padding: 50px;
    }

    .text {
        padding: 50px;
    }

    .item_class {
        padding: 30px 50px;
        font-size: 20px;
        font-style: italic;
        text-transform: none;
    }

    .col_gutters {
        width: 200px;
        height: 200px;
    }

    .container_1 {
        padding: 50px 0 100px 50px;
    }
}

.section4 {
        height: 400px;
        background-color: rgb(241, 245, 186);
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 50px 0;

       h2 {
           padding: 30px 0;
       }

       .mail {
           background-color: white;
           width: 400px;
           height: 50px;
           text-align: start;    
           
           @include media-breakpoint-down(lg) {
            width: 200px;
        }
       }

       .input-group__1 {
           justify-content: center;
           padding: 30px 0;
       }


}
 
.row__contact {
    padding: 50px 0;
}

.col__contact {
    background-color: rgb(44, 43, 43);

}

.contact {
    height: 300px;
    width: 300px;
    color: rgb(220, 217, 217);
    padding: 40px;

    &_1 {
        font-weight: bold;
    }
}


.row__footer {
    height: 80px;
    width: 100%;
    background-color: rgb(44, 43, 43);
    color: rgb(151, 148, 148);
    display: flex;
    flex-direction: row;
    align-content: center;
}

.col__footer1 {
    p{
    padding-left: 50px;

    }
}
.col__footer2 {
    display: flex;
    justify-content: flex-end;

    .brands {
    padding-right: 50px;
    display: inline-block;
    text-align: end;
    justify-content: space-between;
    font-size: 20px;
    }
}

.form-control {
    margin: 30px 0;
    background-color:  rgb(211, 205, 205);
}

.col-10 {
    margin: 20px 0;
}

.form-control__elem {
    height: 200px;

}
